flask
torch
transformers
sentence-transformers
faiss-cpu
deepface
tensorflow
librosa
soundfile
opencv-python
matplotlib
python-dotenv
langchain-community
tavily-python
nltk
sentencepiece
accelerate
langchain-tavily
speechrecognition 
pyaudio
tf-keras
accelerate

